

 body {
    background: #0d5825;
    display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: auto;
 }  
.text {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    position: absolute;
    top: 20px;
}
blockquote {
    display: block;
    margin: 20px;
    }
  
.style {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

.style img {
    cursor: zoom-in;
    margin: auto;
    transition: transform 0.5s ease-in-out;
    position: relative;
 }
    
 .style img:nth-child(1) {
    transform: rotate(-20deg) translateY(-20px) translateX(-10px) ;
    z-index: 1;
    }

.style img:nth-child(2) {
  transform: rotate(-10deg) translateY(-50px) translateX(-30px);
  z-index: 2;
  }

.style img:nth-child(3) {
    transform: rotate(0deg) translateY(-50px) translateX(-60px) ; 
    z-index: 3;
  }


.style img:hover {
    transform: translateY(calc(-40% + 5px));
}

/* objects */

.white {
    background-color: white;
    position: relative;
}

.pink, .blue, .green {
    position: absolute;
}
.pink {
  filter: hue-rotate(20deg); 
  top: 80px;
  left: 80px;
  background: rgb(239, 71, 111);
  z-index: 1;
}
.blue {
    
    top: 120px;
    left: 120px;
    background: rgb(17, 138, 178);
    z-index: 3;
  }
  .green {
    
    top: 160px;
    left: 160px; 
    background: rgb(6, 214, 160);
    z-index: 2;
  }

  wrap {
    height: 100px;
    width: 100px;
  }
  
    
/* anime */

  .anime {
    filter: hue-rotate(20deg); 
    background: blue;
    height: 100px;
    width: 100px;
    text-align: right;
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
    animation: moveAnimation 12s linear infinite, colorAnimation 12s linear infinite;
  }
  @keyframes moveAnimation {
    0%, 100% {
        top: 80px;
        left: 80px;
    }
    25% {
        top: calc(100vh - 180px);
        left: 80px;
    }
    50% {
        top: calc(100vh - 180px);
        left: calc(100vh - 180px);;
    }
    75% {
        top: 80px;
        left: calc(100vh - 180px);
    }
  }
  @keyframes colorAnimation {
    0% {
        background: blue;
    }
    25% {
        background: green;
    }
    50% {
        background: yellow;
    }
    75% {
        background: red;
    }
  }